html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(10 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    background-color: #b8b8ff;
    grid-row-start: 1;
    grid-row-end: 21;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1vh;
    padding-top: 4vh;
}
.searchbar-area {
    position: relative;
    display: flex;
    background-color: #f8f7ff;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 11;
    width: 70%;
    margin-top: 2.3vh;
}
.user-greeting {
    background-color: green;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 11;
}
.content {
    background-color: yellow;
    grid-row-start: 5;
    grid-row-end: 21;
    grid-column-start: 3;
    grid-column-end: 11;
}

.holder {
    display: flex;
    align-items: center;
    position: relative;
    /* border: solid black; */
}
.dashboard-option {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 600;
    color: #f8f7ff;
    left: calc(1.5vw + 24px + 1.5vw);
}

.icon {
    position: absolute;
    color:#f8f7ff;
    left: 1.5vw;
}
#communities {
    grid-row: 7 / span 2;
    align-self: flex-start;
    margin-top: 2.1vh;
}

#dashboard-text {
    position: absolute;
    left: calc(1.2vw + 48px + 1.2vw);
}

.dashboardIcon {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    font-size: 48px !important;
    color:#f8f7ff;
    position: absolute;
    left: 1.2vw;
}

.dashboard-holder {
    grid-row: 1 /span 2;
    align-self: flex-start;
    margin-top: 1.5vh;
    padding-left: 1.2vw;
}

#searchIcon {
    position: absolute;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    top: 1.3vh;
    left: 2vw;
}
.searchbar {
    position: absolute;
    left: calc(3vw + 24px);
}
#notificationsIcon {
    position: absolute;
    top: 1.3vh;
    left: calc(100% + 6.5vw);
}
.profile-pic {
    position: absolute;
    top: 0vh;
    left: calc(100% + 8.5vw); 
}
.username-text {
    position: absolute;
    top: -.7vh;
    left: calc(100% + 14vw);
    color: black;
    white-space: nowrap;
}


